@import '~bootstrap/scss/bootstrap';
@import './font-awesome.min.css';
@import 'vars';
@import 'scroll';

@import './header.scss';
@import './comment.scss';
@import './figures/figure.scss';
@import './figures/show.scss';
@import './admin/admin.scss';
@import './admin/security.scss';

* {
	box-sizing: border-box;
}

h1 {
	font-size: 3.5rem;

	@media screen and (max-width: $break-tablet) {
		font-size: 2.5rem;
	}
}

.lead {
	font-size: 1.75rem;

	@media screen and (max-width: $break-tablet) {
		font-size: 1.25rem;
	}
}

.row {
	margin-right: 0;
	margin-left: 0;
}

a.load-more {
	.spinner-border {
		display: none;
	}
	&.load {
		cursor: not-allowed;
		pointer-events: none;

		.spinner-border {
			display: inherit;
		}
	}
}

@media (min-width: 1200px) {
	.container,
	.container-sm,
	.container-md,
	.container-lg,
	.container-xl {
		max-width: 1360px;
	}
}

div.alert {
	position: fixed;
	top: 85px;
	max-width: 600px;
	z-index: 1000;

	@media screen and (max-width: $break-tablet) {
		width: 80%;
	}
}

.categories {
	display: flex;
	align-items: center;
	a {
		margin-left: 20px;

		@media screen and (max-width: $break-tablet) {
			margin-left: 0;
			position: relative;
			top: -27px;
			left: 0px;
		}
	}

	@media screen and (max-width: $break-tablet) {
		flex-direction: column;
	}
}

.iframe {
	margin: 20px 0;
	iframe {
		width: 100% !important;
	}
}

footer {
	position: relative;
	padding: 40px 0 40px 80px;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background-color: #cccccc;
		width: 100%;
		height: 2px;
	}
}
