{% extends 'base.html.twig' %}

{% block title %}
	New Category
{% endblock %}

{% block h1 'Gérer les figures' %}
{% block subtitle 'Snow Tricks' %}


{% block body %}
	<h1>
		Create new Category
	</h1>

	{{ include('admin/category/_form.html.twig') }}

	<a href="{{ path('admin.category.index') }}">
		back to list
	</a>
{% endblock %}
