<div class="comments container">
	<div class="comment">
		<div class="thumbnail" style="background-image:url('{{asset('build/images/default-user.png')}}')"></div>
		<div class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui laboriosam vitae temporibus debitis, architecto inventore quos odio laudantium cum? Dolorem possimus officiis dicta in aliquid blanditiis esse, ea nostrum. Natus!</div>
	</div>
</div>
