{% if figure is defined and figure.pictures|length > 0 and (figure.mainImage is null or figure.mainImage is empty) %}
	{% set mainImage = vich_uploader_asset(figure.pictures|last, 'imageFile') %}
{% elseif current_menu is defined and current_menu != "home" and figure.mainImage is not null %}
	{% set mainImage = vich_uploader_asset(figure, 'mainImgFile') %}
{% elseif current_menu is defined and current_menu == "home" %}
	{% set mainImage = asset('build/images/home_image.jpg') %}
{% endif %}


<header class="masthead" style="background-image: url({{ mainImage is defined and mainImage is not empty ? mainImage : asset('build/images/empty.jpg') }});">
	<div class="container h-100">
		<div class="row h-100 align-items-center">
			{% if current_menu is defined and current_menu == 'home' %}
				<div class="col-12 text-center">
					<h1 class="font-weight-light">
						{{ h1|default('Snow Tricks') }}
					</h1>
					<p class="lead">
						{{ subtitle|default('Un site de Jimmy Sweat') }}
					</p>
				</div>
				<a class="scroll" href="#figures">
					<span></span>
				</a>
			{% endif %}
		</div>
	</div>
</header>
