<header class="masthead" style="background-image: url({{asset('build/images/home_image.jpg')}});">
	<div class="container h-100">
		<div class="row h-100 align-items-center">
			{% if current_menu is defined and current_menu == 'home' %}
				<div class="col-12 text-center">
					<h1 class="font-weight-light">
						{{ h1|default('Snow Tricks') }}
					</h1>
					<p class="lead">
						{{ subtitle|default('Un site de Jimmy Sweat') }}
					</p>
				</div>
				<a class="scroll" href="#figures">
					<span></span>
				</a>
			{% endif %}
		</div>
	</div>
</header>
