{% extends "base.html.twig" %}

{% block title 'SnowTricks | Jimmy Sweat' %}
{% block h1 'SnowTricks' %}
{% block subtitle 'Redécouvrez la glisse avec Jimmy Sweat' %}

{% block body %}

	<div id="figures" class="col text-center">
		<h2>
			Les dernières figures
		</h2>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}

		<div class="row flex">
			<div class="row row-cols-xl-5 row-cols-lg-3 row-cols-md-2 row-cols-1">
				{% for figure in figures %}
					<div class="col">
						{% include "figure/_figure.html.twig" %}
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="actions">
			<a href="#" class="btn btn-lg btn-primary mt-4">
				Charger plus de figures
			</a>
			{% if app.user %}
				<a href="{{ path('admin.figure.new') }}" class="btn btn-lg btn-success mt-4">
					Créer une nouvelle figure
				</a>
			{% endif %}
		</div>

	</div>

{% endblock body %}
